In [1]:
import pandas as pd
from pickle import load
from pickle import dump

In [2]:
df_alaska_census = load(open('df_race_Alaska.pkl', 'rb'))

In [3]:
df = pd.read_csv('alaska_results.csv')

In [4]:
df_alaska_census.head()

1,id,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races,County,State
69,0500000US02013,3420.0,3212.0,684.0,297.0,802.0,771.0,32.0,626.0,208.0,Aleutians East Borough,Alaska
70,0500000US02016,5232.0,4858.0,1667.0,259.0,728.0,1513.0,239.0,452.0,374.0,Aleutians West Census Area,Alaska
71,0500000US02020,291247.0,250445.0,164446.0,14576.0,23661.0,27646.0,10001.0,10115.0,40802.0,Anchorage Municipali,Alaska
72,0500000US02050,18666.0,17650.0,1665.0,85.0,15632.0,202.0,2.0,64.0,1016.0,Bethel Census Area,Alaska
73,0500000US02060,844.0,701.0,370.0,6.0,305.0,5.0,3.0,12.0,143.0,Bristol Bay Borough,Alaska

In [5]:
df.head()

,SL/Muni,Municode,Registered Voters,Times Counted,"Castle, Darrell L.","Clinton, Hillary","De La Fuente, Roque","Johnson, Gary","Stein, Jill","Trump, Donald J.",Write-in 60,SL Total
0,Ketchikan Gateway,Ketchikan,10512,6336.659567,68.475926,1991.181493,20.583676,476.264543,127.226955,3429.365312,154.052264,6267.150170
1,Prince of Wales-Hyder,Prince of Wales-Hyder,4630,2863.176187,76.780619,1092.953553,32.871074,140.914157,93.106658,1308.156189,85.891654,2830.673904
2,Sitka,Sitka,7218,4474.524672,53.670572,2007.310969,24.366170,210.130813,127.949947,1886.434505,118.052893,4427.915868
3,Petersburg,Petersburg,2741,1728.177139,18.037629,621.542066,9.452787,89.093894,56.244941,862.277955,49.358182,1706.007455
4,Wrangell,Wrangell,1731,1132.369429,10.672812,301.875604,4.360301,59.621443,20.753714,704.890639,21.977985,1124.152497

Drop useless columns.

In [6]:
drop = df.iloc[:, [3, 4, 6, 7, 8, 10]]

In [7]:
df = df.drop(drop, axis = 1)

In [8]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Borough')

In [9]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Area')

In [10]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Census')

In [11]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Census')

In [12]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Municipality')

In [13]:
df_alaska_census

1,id,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races,County,State
69,0500000US02013,3420.0,3212.0,684.0,297.0,802.0,771.0,32.0,626.0,208.0,Aleutians East,Alaska
70,0500000US02016,5232.0,4858.0,1667.0,259.0,728.0,1513.0,239.0,452.0,374.0,Aleutians West Census,Alaska
71,0500000US02020,291247.0,250445.0,164446.0,14576.0,23661.0,27646.0,10001.0,10115.0,40802.0,Anchorage,Alaska
72,0500000US02050,18666.0,17650.0,1665.0,85.0,15632.0,202.0,2.0,64.0,1016.0,Bethel Census,Alaska
73,0500000US02060,844.0,701.0,370.0,6.0,305.0,5.0,3.0,12.0,143.0,Bristol Bay,Alaska
74,0500000US02063,7102.0,6342.0,4907.0,49.0,669.0,529.0,62.0,126.0,760.0,Chugach Census,Alaska
75,0500000US02066,2617.0,2335.0,1611.0,8.0,663.0,17.0,10.0,26.0,282.0,Copper River Census,Alaska
76,0500000US02068,1619.0,1480.0,1382.0,11.0,61.0,13.0,5.0,8.0,139.0,Denali,Alaska
77,0500000US02070,4857.0,4361.0,799.0,25.0,3453.0,48.0,9.0,27.0,496.0,Dillingham Census,Alaska
78,0500000US02090,95655.0,83485.0,65971.0,4014.0,7555.0,3104.0,604.0,2237.0,12170.0,Fairbanks North Star,Alaska
79,0500000US02100,2080.0,1838.0,1589.0,2.0,214.0,14.0,2.0,17.0,242.0,Haines,Alaska
80,0500000US02105,2365.0,2081.0,1147.0,6.0,878.0,16.0,5.0,29.0,284.0,Hoonah-Angoon Census,Alaska
81,0500000US02110,32255.0,27318.0,20124.0,350.0,3614.0,2101.0,476.0,653.0,4937.0,Juneau City and,Alaska
82,0500000US02122,58799.0,52811.0,46382.0,386.0,4228.0,809.0,182.0,824.0,5988.0,Kenai Peninsula,Alaska
83,0500000US02130,13948.0,12246.0,8430.0,103.0,2334.0,1129.0,26.0,224.0,1702.0,Ketchikan Gateway,Alaska
84,0500000US02150,13101.0,11794.0,6570.0,90.0,1826.0,2803.0,117.0,388.0,1307.0,Kodiak Island,Alaska
85,0500000US02158,8368.0,8176.0,173.0,16.0,7946.0,23.0,0.0,18.0,192.0,Kusilvak Census,Alaska
86,0500000US02164,1476.0,1309.0,303.0,2.0,994.0,9.0,1.0,0.0,167.0,Lake and Peninsula,Alaska
87,0500000US02170,107081.0,94782.0,83035.0,1121.0,6844.0,1559.0,506.0,1717.0,12299.0,Matanuska-Susitna,Alaska
88,0500000US02180,10046.0,9205.0,1422.0,55.0,7556.0,111.0,5.0,56.0,841.0,Nome Census,Alaska
89,0500000US02185,11031.0,10072.0,3082.0,162.0,5748.0,641.0,321.0,118.0,959.0,North Slope,Alaska
90,0500000US02188,7793.0,7331.0,700.0,72.0,6469.0,55.0,12.0,23.0,462.0,Northwest Arctic,Alaska
91,0500000US02195,3398.0,2962.0,2470.0,49.0,247.0,123.0,12.0,61.0,436.0,Petersburg,Alaska
92,0500000US02198,5753.0,5095.0,2403.0,22.0,2584.0,27.0,30.0,29.0,658.0,Prince of Wales-Hyder Census,Alaska
93,0500000US02220,8458.0,7261.0,5174.0,37.0,1248.0,573.0,14.0,215.0,1197.0,Sitka City and,Alaska
94,0500000US02230,1240.0,1160.0,1070.0,10.0,32.0,39.0,0.0,9.0,80.0,Skagway,Alaska
95,0500000US02240,6808.0,6216.0,5085.0,74.0,817.0,87.0,16.0,137.0,592.0,Southeast Fairbanks Census,Alaska
96,0500000US02275,2127.0,1789.0,1352.0,0.0,380.0,25.0,2.0,30.0,338.0,Wrangell City and,Alaska
97,0500000US02282,662.0,544.0,249.0,4.0,255.0,32.0,1.0,3.0,118.0,Yakutat City and,Alaska
98,0500000US02290,5343.0,5008.0,1130.0,7.0,3832.0,8.0,3.0,28.0,335.0,Yukon-Koyukuk Census,Alaska

In [14]:
df_alaska_census['County'] = df_alaska_census['County'].str.rstrip('Census')

In [15]:
df_alaska_census[['County']]

1                          County
69                Aleutians East
70         Aleutians West Census
71                     Anchorage
72                 Bethel Census
73                   Bristol Bay
74                Chugach Census
75           Copper River Census
76                        Denali
77             Dillingham Census
78          Fairbanks North Star
79                        Haines
80          Hoonah-Angoon Census
81               Juneau City and
82               Kenai Peninsula
83             Ketchikan Gateway
84                 Kodiak Island
85               Kusilvak Census
86            Lake and Peninsula
87             Matanuska-Susitna
88                   Nome Census
89                   North Slope
90              Northwest Arctic
91                    Petersburg
92  Prince of Wales-Hyder Census
93                Sitka City and
94                       Skagway
95    Southeast Fairbanks Census
96             Wrangell City and
97              Yakutat City and
98          Yukon-Koyukuk Census

In [16]:
missing = df.loc[~df['SL/Muni'].isin(df_alaska_census['County'])]
missing

,SL/Muni,Municode,Registered Voters,"Clinton, Hillary","Trump, Donald J.",SL Total
0,Ketchikan Gateway,Ketchikan,10512,1991.181493,3429.365312,6267.150170
1,Prince of Wales-Hyder,Prince of Wales-Hyder,4630,1092.953553,1308.156189,2830.673904
2,Sitka,Sitka,7218,2007.310969,1886.434505,4427.915868
3,Petersburg,Petersburg,2741,621.542066,862.277955,1706.007455
4,Wrangell,Wrangell,1731,301.875604,704.890639,1124.152497
5,Hoonah-Angoon,Hoonah-Angoon,1939,714.769879,490.281037,1411.844740
6,Juneau,JNU,25481,8593.580735,5775.652604,16436.908530
7,Valdez-Cordova,VC,8087,1225.777170,2618.140750,4449.253456
8,Haines,Haines,2297,847.889304,566.478626,1637.431772
9,Skagway,Skagway,1119,468.896397,228.463132,828.915064
10,Yakutat,Yakutat,458,147.778460,149.456200,343.085908
11,Yukon-Koyukuk,YK,4128,1374.803648,943.100007,2676.397380
12,Bethel,Bethel,10216,2679.762244,1096.451919,4892.232820
13,Southeast Fairbanks,SEF,5341,719.835651,2340.133728,3406.365158
14,Wade Hampton,Wade-Hampton,4260,1180.360462,415.390330,2018.481387
15,Kenai Peninsula,Kenai,44774,7519.981168,18296.192550,28840.627170
16,Fairbanks North Star,F,70979,13635.467560,21896.361300,40876.375840
17,Denali,Denali,1785,369.810962,606.217561,1105.604027
18,Matanuska-Susitna,Mat-Su,69741,8604.346171,31635.846620,44911.876200
19,Anchorage,ANC,216679,53969.099860,61082.579780,130040.329900
20,Kodiak Island,Kodiak,9609,2019.162505,2992.181126,5764.475667
21,Lake and Peninsula,Lake and Peninsula,1199,205.454803,177.905639,496.302635
22,Aleutians East,Aleutians East,1489,192.938793,267.220176,529.293851
23,Dillingham,Dillingham,3118,954.977331,672.303769,1883.368093
24,Aleutians West,Aleutians West,2537,657.932842,418.699915,1213.502975
25,Bristol Bay,Bristol Bay,822,160.606121,239.277982,453.270615
26,Nome,Nome,6161,1688.736228,899.623029,3242.820912
27,Northwest Arctic,NW Arctic,4455,1134.417344,572.092141,2148.834688
28,North Slope,North Slope,4660,1098.750678,775.825474,2302.501355
29,Total,Total,528166,116180.000000,163347.000000,318266.000000