In [1]:
import pandas as pd
import numpy as np
from pickle import load
from pickle import dump

In [2]:
# df_alaska_census = load(open('df_race.pkl', 'rb'))

In [3]:
# df_alaska_census.head()

In [4]:
# df_alaska_census = df_alaska_census.loc[df_alaska_census['State'].str.contains('Alaska', case=False)]

In [5]:
df = pd.read_csv('ak_2012_2016.csv')

In [6]:
missing_columns = pd.read_csv('alaska_missing_columns.csv')

In [7]:
df.head()

,Weighted/Muni,Registered Voters,"Clinton, Hillary","Trump, Donald J.",Write-in 60,WtTotal,Unnamed: 6,Weighted/Muni.1,Municode,Registered Voters .1,Total Votes,Johnson/Gray (LIB),Obama/Biden (DEM),Romney/Ryan (REP)
0,Ketchikan Gateway,10512,1966.695802,3451.907138,153.011809,6267.150170,NaN,Ketchikan Gateway,Ketchikan,10257,5905.592707,212.061543,2262.784210,3266.635409
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,91.039696,2830.673904,NaN,Prince of Wales-Hyder,Prince of Wales-Hyder,4371,2482.062762,76.243288,1298.248629,1045.101630
2,Sitka,7218,2110.994000,1811.544401,115.703622,4427.915868,NaN,Sitka,Sitka,7074,4415.265365,133.089646,2340.002643,1830.694119
3,Petersburg,2741,569.639406,915.365934,50.796562,1706.007455,NaN,Petersburg,Petersburg,2648,1729.880554,59.211545,776.066018,867.459549
4,Wrangell,1731,270.992898,751.941311,19.081913,1124.152497,NaN,Wrangell,Wrangell,1658,1143.064441,26.862207,362.631179,738.686288

In [8]:
df = df.drop(df.iloc[:, [4, 6, 7, 8, 11]], axis = 1)

In [9]:
df.head()

,Weighted/Muni,Registered Voters,"Clinton, Hillary","Trump, Donald J.",WtTotal,Registered Voters .1,Total Votes,Obama/Biden (DEM),Romney/Ryan (REP)
0,Ketchikan Gateway,10512,1966.695802,3451.907138,6267.150170,10257,5905.592707,2262.784210,3266.635409
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,2830.673904,4371,2482.062762,1298.248629,1045.101630
2,Sitka,7218,2110.994000,1811.544401,4427.915868,7074,4415.265365,2340.002643,1830.694119
3,Petersburg,2741,569.639406,915.365934,1706.007455,2648,1729.880554,776.066018,867.459549
4,Wrangell,1731,270.992898,751.941311,1124.152497,1658,1143.064441,362.631179,738.686288

In [10]:
df.columns = [col.replace(',', '') for col in df.columns]

In [11]:
df = df.rename(columns = {'Registered Voters': '2016_registered_voters','Weighted/Muni':'County', 'Clinton Hillary':'Clinton', 'Trump Donald J.':'Trump', 'WtTotal':'2016_total_votes', 'Registered Voters .1':'2012_registered_voters', 'Total Votes':'2012_total_votes', 'Obama/Biden (DEM)':'Obama', 'Romney/Ryan (REP)':'Romney'})

In [12]:
conditions = [df.iloc[:, 2] < df.iloc[:, 3], df.iloc[:, 2] > df.iloc[:, 3]]
choices = ['Trump', 'Clinton']
df['Target'] = np.select(conditions, choices, default = np.nan)

In [13]:
df

,County,Registered Voters,Clinton Hillary,Trump Donald J.,2016_total_votes,2012_registered_voters,2012_total_votes,Obama,Romney,Target
0,Ketchikan Gateway,10512,1966.695802,3451.907138,6267.150170,10257,5905.592707,2262.784210,3266.635409,Trump
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,2830.673904,4371,2482.062762,1298.248629,1045.101630,Trump
2,Sitka,7218,2110.994000,1811.544401,4427.915868,7074,4415.265365,2340.002643,1830.694119,Clinton
3,Petersburg,2741,569.639406,915.365934,1706.007455,2648,1729.880554,776.066018,867.459549,Trump
4,Wrangell,1731,270.992898,751.941311,1124.152497,1658,1143.064441,362.631179,738.686288,Trump
5,Hoonah-Angoon,1939,743.202006,446.481335,1411.844740,1958,1255.174007,743.645936,453.576123,Clinton
6,Juneau,25481,8728.253468,5685.019948,16436.908530,25019,16116.435260,9253.246898,6110.863835,Clinton
7,Valdez-Cordova,8087,1258.296956,2541.182013,4449.253456,8037,4343.914388,1575.330231,2523.305413,Trump
8,Haines,2297,730.434798,665.725419,1637.431772,2240,1310.479513,594.965906,625.541085,Clinton
9,Skagway,1119,443.331819,228.889453,828.915064,1010,613.045389,355.408581,187.441963,Clinton
10,Yakutat,458,161.583287,135.875871,343.085908,444,305.291588,171.117423,122.283038,Clinton
11,Yukon-Koyukuk,4128,1526.951531,796.343363,2676.397380,4168,2388.997632,1471.450436,813.062373,Clinton
12,Bethel,10216,2689.767625,1093.102364,4892.232820,9765,4810.611592,3425.621480,1151.530057,Clinton
13,Southeast Fairbanks,5341,663.484320,2422.445567,3406.365158,5414,3089.243210,680.462922,2250.312749,Trump
14,Wade Hampton,4260,1192.747794,397.652891,2018.481387,3773,2228.141959,1715.490873,389.383571,Clinton
15,Kenai Peninsula,44774,7533.489696,18284.397390,28840.627170,42136,25995.417540,7726.077223,17148.857390,Trump
16,Fairbanks North Star,70979,13506.427750,22019.264740,40876.375840,71480,40539.238280,14710.459690,23755.548490,Trump
17,Denali,1785,391.969599,584.322767,1105.604027,1743,922.785544,406.718092,473.883607,Trump
18,Matanuska-Susitna,69741,8553.708404,31714.337250,44911.876200,61924,38343.156530,9327.004548,27325.918520,Trump
19,Anchorage,216679,54025.158850,61004.813520,130040.329900,208086,125169.133300,54042.760210,66387.084670,Trump
20,Kodiak Island,9609,1981.629171,3043.511418,5764.475667,9669,5369.370069,2080.503695,3061.934499,Trump
21,Lake and Peninsula,1199,191.592387,172.647163,496.302635,1194,371.903785,211.510511,143.052746,Clinton
22,Aleutians East,1489,166.785139,295.273178,529.293851,1405,549.375577,234.120530,292.395684,Trump
23,Dillingham,3118,978.530489,651.127320,1883.368093,3004,1639.278557,967.896564,590.972108,Clinton
24,Aleutians West,2537,691.621237,398.764013,1213.502975,2421,1238.761919,777.428504,426.573343,Clinton
25,Bristol Bay,822,136.201764,267.836411,453.270615,870,425.845526,147.147402,251.541638,Trump
26,Nome,6161,1662.960528,919.619978,3242.820912,5896,3558.533046,2264.899663,1095.360112,Clinton
27,Northwest Arctic,4455,1145.541587,554.699025,2148.834688,4286,2002.022101,1310.125090,611.591125,Clinton
28,North Slope,4660,1081.551885,797.783759,2302.501355,4482,2232.977899,1406.874910,735.408875,Clinton
29,Total,528166,116180.000000,163347.000000,318266.000000,506432,300495.000000,122640.000000,164676.000000,Trump

In [14]:
df.drop(df.index[29], inplace = True)

In [15]:
df = df.replace({'Lake Peninsula':'Lake Peninsula', 'Wade Hampton': 'Kusilvak', 'Kodiak Island': 'Kodiak Isl', 'Lake and Peninsula': 'Lake Peninsula'}, regex = True)

In [16]:
df = df.drop(df.iloc[:, 2:4], axis = 1)

In [17]:
df['State'] = 'Alaska'

In [18]:
df = df.sort_values(by = 'County')

In [19]:
df.head()

,County,Registered Voters,2016_total_votes,2012_registered_voters,2012_total_votes,Obama,Romney,Target,State
22,Aleutians East,1489,529.293851,1405,549.375577,234.120530,292.395684,Trump,Alaska
24,Aleutians West,2537,1213.502975,2421,1238.761919,777.428504,426.573343,Clinton,Alaska
19,Anchorage,216679,130040.329900,208086,125169.133300,54042.760210,66387.084670,Trump,Alaska
12,Bethel,10216,4892.232820,9765,4810.611592,3425.621480,1151.530057,Clinton,Alaska
25,Bristol Bay,822,453.270615,870,425.845526,147.147402,251.541638,Trump,Alaska

In [20]:
missing_columns.replace('Wade Hampton(kusilvak)', 'Kusilvak', inplace = True)
missing_columns = missing_columns.drop(missing_columns.iloc[:, 4:6], axis = 1)

In [21]:
missing_columns = missing_columns.sort_values(by = 'Weighted/Muni')

In [22]:
missing_columns

            Weighted/Muni  Density  Land Area Metro/Nonmetro status
0          Aleutians East     0.49       6982                 rural
1          Aleutians West     1.19       4390                 Rural
2               Anchorage   170.62       1705               Central
3                  Bethel     0.46      40570                 rural
4             Bristol Bay     1.75        504                 rural
5                  Denali     0.13      12751                 rural
6              Dillingham     0.26      18569                 Rural
7    Fairbanks North Star    13.04       7338               Central
8                  Haines     0.89       2319                 Rural
9           Hoonah-Angoon     0.36       7525                 Rural
10                 Juneau    11.93       2702                 Rural
11        Kenai Peninsula     3.67      16075                 Rural
12      Ketchikan Gateway     2.87       4858                 Rural
13          Kodiak Island     1.96       6550                 Rural
25               Kusilvak     0.49      17081                 rural
14     Lake and Peninsula     0.06      23652                 Rural
15      Matanuska-Susitna     4.33      24608              Outlying
16                   Nome     0.44      22962                 Rural
17            North Slope     0.12      88695                 rural
18       Northwest Arctic     0.22      35573                 rural
19             Petersburg     1.17       3282                 rural
20  Prince of Wales-Hyder     1.09       3923                 rural
21                  Sitka     2.95       2870                 rural
22                Skagway     2.86        452                 rural
23    Southeast Fairbanks     0.27      24769                 rural
24         Valdez-Cordova     0.28      34240                 rural
26               Wrangell     0.83       2541                 rural
27                Yakutat     0.09       7649                 rural
28          Yukon-Koyukuk     0.04     145505                 rural

In [23]:
missing_columns

            Weighted/Muni  Density  Land Area Metro/Nonmetro status
0          Aleutians East     0.49       6982                 rural
1          Aleutians West     1.19       4390                 Rural
2               Anchorage   170.62       1705               Central
3                  Bethel     0.46      40570                 rural
4             Bristol Bay     1.75        504                 rural
5                  Denali     0.13      12751                 rural
6              Dillingham     0.26      18569                 Rural
7    Fairbanks North Star    13.04       7338               Central
8                  Haines     0.89       2319                 Rural
9           Hoonah-Angoon     0.36       7525                 Rural
10                 Juneau    11.93       2702                 Rural
11        Kenai Peninsula     3.67      16075                 Rural
12      Ketchikan Gateway     2.87       4858                 Rural
13          Kodiak Island     1.96       6550                 Rural
25               Kusilvak     0.49      17081                 rural
14     Lake and Peninsula     0.06      23652                 Rural
15      Matanuska-Susitna     4.33      24608              Outlying
16                   Nome     0.44      22962                 Rural
17            North Slope     0.12      88695                 rural
18       Northwest Arctic     0.22      35573                 rural
19             Petersburg     1.17       3282                 rural
20  Prince of Wales-Hyder     1.09       3923                 rural
21                  Sitka     2.95       2870                 rural
22                Skagway     2.86        452                 rural
23    Southeast Fairbanks     0.27      24769                 rural
24         Valdez-Cordova     0.28      34240                 rural
26               Wrangell     0.83       2541                 rural
27                Yakutat     0.09       7649                 rural
28          Yukon-Koyukuk     0.04     145505                 rural

In [24]:
alaska_results = df.reset_index(drop=True).merge(missing_columns.reset_index(drop=True), left_index=True, right_index=True)

In [25]:
alaska_results = alaska_results.drop(alaska_results.iloc[:, [1, 3, 9]], axis = 1)

In [26]:
alaska_results.rename(columns = {'Land Area': '2010_land_area', 'Metro/Nonmetro status': 'central_outlying'}, inplace = True)

In [27]:
alaska_results

,County,2016_total_votes,2012_total_votes,Obama,Romney,Target,State,Density,2010_land_area,central_outlying
0,Aleutians East,529.293851,549.375577,234.120530,292.395684,Trump,Alaska,0.49,6982,rural
1,Aleutians West,1213.502975,1238.761919,777.428504,426.573343,Clinton,Alaska,1.19,4390,Rural
2,Anchorage,130040.329900,125169.133300,54042.760210,66387.084670,Trump,Alaska,170.62,1705,Central
3,Bethel,4892.232820,4810.611592,3425.621480,1151.530057,Clinton,Alaska,0.46,40570,rural
4,Bristol Bay,453.270615,425.845526,147.147402,251.541638,Trump,Alaska,1.75,504,rural
5,Denali,1105.604027,922.785544,406.718092,473.883607,Trump,Alaska,0.13,12751,rural
6,Dillingham,1883.368093,1639.278557,967.896564,590.972108,Clinton,Alaska,0.26,18569,Rural
7,Fairbanks North Star,40876.375840,40539.238280,14710.459690,23755.548490,Trump,Alaska,13.04,7338,Central
8,Haines,1637.431772,1310.479513,594.965906,625.541085,Clinton,Alaska,0.89,2319,Rural
9,Hoonah-Angoon,1411.844740,1255.174007,743.645936,453.576123,Clinton,Alaska,0.36,7525,Rural
10,Juneau,16436.908530,16116.435260,9253.246898,6110.863835,Clinton,Alaska,11.93,2702,Rural
11,Kenai Peninsula,28840.627170,25995.417540,7726.077223,17148.857390,Trump,Alaska,3.67,16075,Rural
12,Ketchikan Gateway,6267.150170,5905.592707,2262.784210,3266.635409,Trump,Alaska,2.87,4858,Rural
13,Kodiak Isl,5764.475667,5369.370069,2080.503695,3061.934499,Trump,Alaska,1.96,6550,Rural
14,Kusilvak,2018.481387,2228.141959,1715.490873,389.383571,Clinton,Alaska,0.49,17081,rural
15,Lake Peninsula,496.302635,371.903785,211.510511,143.052746,Clinton,Alaska,0.06,23652,Rural
16,Matanuska-Susitna,44911.876200,38343.156530,9327.004548,27325.918520,Trump,Alaska,4.33,24608,Outlying
17,Nome,3242.820912,3558.533046,2264.899663,1095.360112,Clinton,Alaska,0.44,22962,Rural
18,North Slope,2302.501355,2232.977899,1406.874910,735.408875,Clinton,Alaska,0.12,88695,rural
19,Northwest Arctic,2148.834688,2002.022101,1310.125090,611.591125,Clinton,Alaska,0.22,35573,rural
20,Petersburg,1706.007455,1729.880554,776.066018,867.459549,Trump,Alaska,1.17,3282,rural
21,Prince of Wales-Hyder,2830.673904,2482.062762,1298.248629,1045.101630,Trump,Alaska,1.09,3923,rural
22,Sitka,4427.915868,4415.265365,2340.002643,1830.694119,Clinton,Alaska,2.95,2870,rural
23,Skagway,828.915064,613.045389,355.408581,187.441963,Clinton,Alaska,2.86,452,rural
24,Southeast Fairbanks,3406.365158,3089.243210,680.462922,2250.312749,Trump,Alaska,0.27,24769,rural
25,Valdez-Cordova,4449.253456,4343.914388,1575.330231,2523.305413,Trump,Alaska,0.28,34240,rural
26,Wrangell,1124.152497,1143.064441,362.631179,738.686288,Trump,Alaska,0.83,2541,rural
27,Yakutat,343.085908,305.291588,171.117423,122.283038,Clinton,Alaska,0.09,7649,rural
28,Yukon-Koyukuk,2676.397380,2388.997632,1471.450436,813.062373,Clinton,Alaska,0.04,145505,rural

In [28]:
dump(alaska_results, open('alaska_final.pkl', 'wb'))